body {
	/* background: #061642; */
	background: #02050f;
}

/* ========= ANIMATIONS ========= */

svg.fish__right, svg.fish__left {
    overflow: visible;
}

@-webkit-keyframes swim-left
{
    100% {margin-left: -235px}
    90% {margin-left: 100%;}
    0% {margin-left: 100%;}
}

@keyframes swim-left
{
    100% {margin-left: -235px}
    70% {margin-left: 100%;}
    0% {margin-left: 100%;}
}

.fish__left {
    width: 235px;
    height: 104px;
    margin-right: 100px;
    position: absolute;	
    animation: swim-left 25s;
    -webkit-animation: swim-left 25s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

svg #fish7,
svg #fish8,
svg #fish9,
svg #fish10,
svg #fish11,
svg #fish12 {
fill:#528484;
  
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

svg #fish8 {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

svg #fish9 {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

svg #fish10 {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

svg #fish11 {
    animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
}

svg #fish12 {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}

/**/
@-moz-keyframes bounce {
  0%, 50%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -moz-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
@-webkit-keyframes bounce {
  0%, 50%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
@keyframes bounce {
  0%, 50%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}

/*END Fish Animation*/